<section class="main">
    <div class="main-item" id="item1">
        <div class="item-content content-start">
            <h1>KHỞI NGUỒN</h1>
            <h3>Thương hiệu bắt nguồn từ cà phê Việt Nam</h3>
            <p>
              Highlands Coffee® được sinh ra từ niềm đam mê bất tận với hạt cà phê Việt Nam. Qua một chặng đường dài, 
              chúng tôi đã không ngừng mang đến những sản phẩm cà phê thơm ngon, sánh đượm trong không gian thoải mái 
              và lịch sự với mức giá hợp lý. Những ly cà phê của chúng tôi không chỉ đơn thuần là thức uống quen thuộc
               mà còn mang trên mình một sứ mệnh văn hóa phản ánh một phần nếp sống hiện đại của người Việt Nam.
            </p>
        </div>
        <div class="item-image">
            <img src="assets/theme/ABOUT-ORIGIN.png">
        </div>
    </div>
    <div class="main-item" id="item2">
        <div class="item-image">
            <img src="assets/theme/About_Customer_service_2.jpg">
        </div>
        <div class="item-image content-start" id="service-custom">
            <h1>DỊCH VỤ KHÁCH HÀNG</h1>
            <h3>Chào mừng bạn đến với Highlands Coffee®</h3>
            <p>
                Chúng tôi mong muốn mang đến cho bạn những trải nghiệm đáng nhớ mỗi lần đến Highlands Coffee®. 
                Hãy chia sẻ với chúng tôi để chúng tôi có thể mang đến cho bạn những trải nghiệm tuyệt vời hơn thế
            </p>
        </div>
    </div>
    <div class="main-item" id="item3">
        <div class="item-image content-start">
            <h1>NGHỀ NGHIỆP</h1>
            <h3>Khởi đầu cùng với Highland Coffee</h3>
            <p>
                Với sứ mệnh trở thành thương hiệu cà phê Việt Nam dẫn đầu, Highlands Coffee® luôn tìm kiếm những ứng cử
                viên tiềm năng có chung niềm đam mê và nỗ lực cùng chúng tôi vươn tới thành công. Chúng tôi luôn chào đón
                gia nhập vào đội ngũ chuyên nghiệp của gia đình Highlands Coffee®.
            </p>
        </div>
        <div class="item-image">
            <img src="assets/theme/ABOUT-CAREER3.jpg">
        </div>
    </div>
       
</section>
