<section class="main">
    <div class="main-tea">
        <h1>TRÀ</h1>
        <img src="assets/theme/menu-TEA-inside.jpg">
        <p>
            Hương vị tự nhiên, thơm ngon của Trà Việt với phong cách hiện đại tại Highlands 
            Coffee sẽ giúp bạn gợi mở vị giác của bản thân và tận hưởng một cảm giác thật khoan khoái, tươi mới.
        </p>
    </div>
    <div class="main-content">
        <div class="content-item">
            <img src="assets/theme/270_crop_TRATHACHVAI_1.png">
            <button class="order">Đặt hàng</button>
            <div class="name-order">
                <h2>Trà Sen Vàng</h2>
                <p>Giá: <span>39,000 VND</span></p>
            </div>
        </div>
        <div class="content-item">
            <img src="assets/theme/TRASENVANG.png">
            <button class="order" (click)="openDialog() ">Đặt hàng</button>
            <div class="name-order">
                <h2>Trà Thanh Đào</h2>
                <p>Giá: <span>39,000 VND</span></p>
            </div>
        </div>
        <div class="content-item">
            <img src="assets/theme/TRATHACHDAO.png">
            <button class="order" (click)="openDialog()">Đặt hàng</button>
            <div class="name-order">
                <h2>Trà Thạch Đào</h2>
                <p>Giá: <span>39,000 VND</span></p>
            </div>
        </div>
        <div class="content-item" id="teapeach">
            <img src="assets/theme/TRATHANHDAO.png">
            <button class="order" (click)="openDialog()">Đặt hàng</button>
            <div class="name-order">
                <h2>Trà Thạch Vải</h2>
                <p>Giá: <span>39,000 VND</span></p>
            </div>
        </div>
    </div>
</section>
