<div class="main">
    <h1>Chào mừng bạn đến với Highland Coffee</h1>
    <form action="">
        <label for="firstname">First name:</label>
        <input type="text" placeholder="First Name">
        <label for="lastname">Last name:</label>
        <input type="text" placeholder="Last Name">
        <label for="email">Email:</label>
        <input type="text" placeholder="Email">
        <label for="password">Password:</label>
        <input type="password" placeholder="Password">

        <button type="submit" class="register"> Đăng kí </button>
    </form>
</div>
