@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container_fluid {
    width: 100%;
    display: flex;
    height: 100vh;
}
.container_fluid .side_bar {
    width: 20%;
    display: flex;
    justify-content: space-between;
    background-color: #1A1A1A;
    padding-top: 32px;
    padding-left: 32px;
}
.container_fluid .side_bar span {
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    position: relative;
    top: -5px;
}
.container_fluid .side_bar .side_left .zet_module{
    margin-bottom: 64px;
}
.container_fluid .side_bar .side_left .zet_module span {
    font-size: 13.54px;
    font-weight: bold;
    top: -10px;
}
.container_fluid .side_bar .side_left .module_item {
    margin-top: 23px;
}
.container_fluid .side_bar .icon {
    position: relative;
    right: -7%;
}
.container_fluid .side_bar .icon img {
    background-color: rgb(36, 34, 34);
    padding: 7px;
    border-radius: 50%;
}

.container_fluid .container {
    width: 80%;
}
.container_fluid .container .navbar {
    background-color: #1A1A1A;
    height: 96px;
    padding: 36px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_fluid .container .navbar .logo p {
    font-size: 21px;
    color: #fff;
    font-weight: 600;
}
.container_fluid .container .navbar .nav_search img{
    padding: 0 10px;
}
.container_fluid .container .navbar .nav_search #avartar {
    position: relative;
    left: 55%;
    top: 7px;
}
.container_fluid .container .navbar .nav_search input {
    background-color: #2E2E2E;
    color: #fff;
    height: 56px;
    border-radius: 30px;
    width: 196px;
    border: none;
    padding-left: 10%;
}
.container_fluid .container .content {
    width: 100%;
    background-image: url("./images/Frame\ 6.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: calc(100% - 96px);
    padding: 0 96px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}
/* .container_fluid .container .content {
    padding: 0 96px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
} */
.container_fluid .container .content .content_item {
    width: 70%;
}
.container_fluid .container .content .content_item h1 {
    font-size: 64px;
    color: #fff;
}
.container_fluid .container .content .content_item h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 11px 0;
    color: #fff;
}
.container_fluid .container .content .content_item p {
    color: #fff;
    font-size: 16px;
}
.container_fluid .container .content .content_btn {
    width: 30%;
    margin-top: 100px;
    margin-left: 20%;
}
.container_fluid .container .content .content_btn .btn {
    width: 200px;
    height: 54px;
    background-color: #292929;
    border: 2px solid #A8BA68;
    border-radius: 36px;
}
.container_fluid .container .content .content_btn .btn span {
    color: #A8BA68;
    position: relative;
    top: -7px;
}

/* ---------------- */
@media only screen and (min-width: 320px) and (max-width: 545px) {
    .container_fluid .side_bar {
        padding-left: 5%;
    }
    .container_fluid .side_bar .side_left span{
        display: none;
    }
    .container_fluid .container .navbar {
        padding: 10px 5px;
    }
    .container_fluid .container .navbar .logo p {
        font-size: 10px;
        color: #fff;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .container_fluid .container .navbar .nav_search img{
        padding: 0 10px;
    }
    .container_fluid .container .navbar .nav_search #avartar {
        position: relative;
        left: 55%;
        top: 7px;
    }
    .container_fluid .side_bar .icon img {
        padding: 0;
        width: 80%;
    }
    .container_fluid .container .navbar .nav_search input {
        width: 60%;
        height: 30px;
        font-size: 8px;
    }
    .container_fluid .container .navbar .nav_search img{
        width: 10%;
        height: 10%;
        padding: 0;
    }
    .container_fluid .container .navbar .nav_search #avartar {
        left: 55%;
    }
    .container_fluid .container .navbar .nav_search {
        display: flex;
    }
    .container_fluid .container .content {
        flex-wrap: wrap;
        padding: 10%;
    }
    .container_fluid .container .content .content_item {
        width: 100%;
    }
    .container_fluid .container .content .content_item h1 {
        font-size: 25px;
        color: #fff;
    }
    .container_fluid .container .content .content_item h3 {
        font-size: 15px;
    }
    .container_fluid .container .content .content_item p {
        color: #fff;
        font-size: 14px;
    }
    .container_fluid .container .content .content_btn {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .container_fluid .container .content .content_btn .btn {
        width: 90%;
        height: 45px;
    }
}
/* ------------ */
@media only screen and (min-width: 546px) and (max-width: 700px) {
    .container_fluid .side_bar {
        padding-left: 5%;
    }
    .container_fluid .side_bar .side_left span{
        display: none;
    }
    .container_fluid .container .navbar {
        padding: 10px 5px;
    }
    .container_fluid .container .navbar .logo p {
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .container_fluid .container .navbar .nav_search img{
        padding: 0 10px;
    }
    .container_fluid .container .navbar .nav_search #avartar {
        position: relative;
        left: 55%;
        top: 7px;
    }
    .container_fluid .side_bar .icon img {
        padding: 0;
        width: 80%;
    }
    .container_fluid .container .navbar .nav_search input {
        width: 60%;
        height: 30px;
        font-size: 8px;
    }
    .container_fluid .container .navbar .nav_search img{
        width: 10%;
        height: 10%;
        padding: 0;
    }
    .container_fluid .container .navbar .nav_search #avartar {
        left: 55%;
    }
    .container_fluid .container .navbar .nav_search {
        display: flex;
    }
    .container_fluid .container .content {
        flex-wrap: wrap;
        padding: 10%;
    }
    .container_fluid .container .content .content_item {
        width: 100%;
    }
    .container_fluid .container .content .content_item h1 {
        font-size: 25px;
        color: #fff;
    }
    .container_fluid .container .content .content_item h3 {
        font-size: 15px;
    }
    .container_fluid .container .content .content_item p {
        color: #fff;
        font-size: 14px;
    }
    .container_fluid .container .content .content_btn {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .container_fluid .container .content .content_btn .btn {
        width: 90%;
        height: 45px;
    }
}
/* -------------- */
@media only screen and (min-width: 701px) and (max-width: 900px) {
    .container_fluid .side_bar {
        padding-left: 2%;
    }
    .container_fluid .side_bar span {
        color: #fff;
        margin-left: 10px;
        font-size: 14px;
        position: relative;
        top: -5px;
    }
    .container_fluid .side_bar .side_left .zet_module span {
        font-size: 9.5px;
    }
    .container_fluid .side_bar .side_left .module_item span {
        font-size: 11px;
        margin-left: 0;
    }
    .container_fluid .side_bar .icon img {
        background-color: rgb(36, 34, 34);
        padding: 7px;
        border-radius: 50%;
    }
    .container_fluid .side_bar .icon img {
        padding: 0;
        width: 80%;
    }
    .container_fluid .container .navbar {
        padding: 10px 30px;
    }
    .container_fluid .container .content .content_item h1 {
        font-size: 25px;
        color: #fff;
    }
    .container_fluid .container .content .content_item h3 {
        font-size: 15px;
    }
    .container_fluid .container .content .content_item p {
        color: #fff;
        font-size: 14px;
    }
    .container_fluid .container .content .content_btn {
        width: 30%;
        margin-top: 50px;
        margin-left: 0;
    }
}