<div class="top" > </div>
<section class="header">
    <div class="logo">
        <img src="assets/theme/logo-coffee.png">
    </div>
    <div class="navbar">
        <a href="#" [routerLink]="['/home-coffee']" routerLinkActive="router-link-active" >Quán cà phê</a>
        <a href="#" [routerLink]="['/coffee']" routerLinkActive="router-link-active" >Cà Phê</a>
        <a href="#" [routerLink]="['/tea']" routerLinkActive="router-link-active" >Trà</a>
        <a href="#" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Về chúng tôi</a>
    </div>
    <div class="authen">
        <div class="login">Đăng nhập <span>|</span></div>
        <div class="signup">Đăng kí</div>
    </div>
</section>
