<section class="main">
    <div class="main-item image1">
        <div class="item-content">
            <h1>CÀ PHÊ</h1>
            <p>
                Sự kết hợp hoàn hảo giữa hạt cà phê Robusta & Arabica thượng hạng được trồng trên những vùng cao 
                nguyên Việt Nam màu mỡ, qua những bí quyết rang xay độc đáo, Highlands Coffee chúng tôi tự hào giới
                 thiệu những dòng sản phẩm Cà phê mang hương vị đậm đà và tinh tế.
            </p>
        </div>
        <div class="item-image">
            <img src="assets/theme/menu-PSD_3.png">
        </div>
    </div>
    <div class="main-item image2">
        <div class="item-image">
            <img src="assets/theme/menu-FREEZE_1.png">
        </div>
        <div class="item-image">
            <h1>FREEZE</h1>
            <p>
                Sảng khoái với thức uống đá xay phong cách Việt. Freeze là thức uống đá xay mát lạnh được pha chế 
                từ những nguyên liệu thuần túy của Việt Nam.
            </p>
        </div>
    </div>
    <div class="main-item image3">
        <div class="item-image">
            <h1>TRÀ</h1>
            <p>
                Hương vị tự nhiên, thơm ngon của Trà Việt với phong cách hiện đại tại Highlands Coffee sẽ giúp bạn 
                gợi mở vị giác của bản thân và tận hưởng một cảm giác thật khoan khoái, tươi mới.
            </p>
        </div>
        <div class="item-image">
            <img src="assets/theme/menu-TEA_1.png">
        </div>
    </div>
       
</section>
