$sidebar-bg: #fff;
$main-bg: #F7F7F7;
$btn-bg: #E1C579;
$main-color: #1A1A1A;
$item1-color: #414141;
$item2-color:#6CA5D0;
$item3-color: #EAB334;
$item4-color: #2D8AF4;
$letter-color: #6d6868;
$light: #EDEDED;

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(./../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(./../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(./../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(./../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(./../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Nunito-Regular;
    src: url(./../fonts/Nunito-Regular.ttf);
}

ul {
    li {
        list-style: none;
    }
    li:hover {
        background-color: $light;
        width: 190px;
        border-radius: 10px;
    }
    a {
        text-decoration: none;
        margin-left: 5px;
        span {
            color: $letter-color;
            font-size: 14px;
            font-weight: bold;
        }
    }
}