@import 'variables';

.main-item {
    width: 100%;
    .content-start {
        width: 100%;
        h1 {
            color: $brown;
        }
        h3 {
            padding: 16px 0;
        }
        p {
            font-size: 16px;
        }
    }
    .item-image img{
        width: 100%;
        height: 100%;
    }
    #service-custom {
        margin-left: 16px;
    }
}
#item1 img{
    background-color: $white;
}
#item2 img{
    background-color: $brownpi ;
}
#item3 {
    background-color:#8e5a2d;
}