@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-fluid {
    width: 1919.74px;
    display: flex;
    height: 1080px;
}
.container-fluid .side-bar {
    width: 240px;
    background-color: #6778d2;
    color: #FFFFFF;
}
.container-fluid .container {
    width: 1679.74px;
    background-color: #1A1A1A;
    color: #FFFFFF;
}
.container-fluid .side-bar span {
    font-size: 14px;
}
.navbar {
    margin-left: 30px;
    /* margin-right: 20.5px; */
}
.navbar .nav-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    margin-left: 105px;
    margin-top: -25px;
}
.navbar .nav-right .menu-btn {
    width: 18px;
    height: 3px;
    border-radius: 3px;
    background: #FFFFFF;
    transition: all .5s ease-in-out;
}
.menu-btn::before,
.menu-btn::after {
    content: '';
    position: absolute;
    width: 23px;
    height: 3px;
    border-radius: 3px;
    background: #FFFFFF;
    transition: all .5s ease-in-out;
}
.menu-btn::before {
    transform: translateY(-8px);
}
.menu-btn::after {
    transform: translateY(8px);
}

.side-bar .navbar .nav-left {
    display: flex;
}
.side-bar .navbar .nav-left .round {
    font-size: 36px;
    margin-top: 30px;
}
.side-bar .navbar .nav-left .name {
    font-size: 14px;
    margin-top: 39.5px;
    padding-left: 8px;
}
.side-bar .nav-content {
    padding-top: 200px;
    margin-left: 30px;
}
.nav-content .person {
    display: flex;
}
.nav-content .person .road {
    border: 5px solid #FFFFFF;
    margin-left: -30px;
    height: 40px;
    margin-top: -10px;

}
.nav-content .person .personIcon {
    font-size: 24px;
    height: 21.6px;
    padding-left: 30px;
}
.nav-content .person .custom {
    padding-left: 10px;
    padding-top: 8px;
}
.nav-content .setting {
    display: flex;
    padding-top: 39.2px;
}
.nav-content .setting .settingIcon {
    font-size: 12px;
    height: 12px;
}
.nav-content .setting .settingItem {
    padding-left: 16px;
}

.container .title {
    width: 1679.74px;
    display: flex;
    /* margin-top: 21px; */
    border-bottom: 1px solid #5B5B5B;
    align-items: center;
}
.container .title .title-left {
    display: flex;
}
.container .title .title-left .btn {
    background-color: #1A1A1A;
    border: none;
    margin-left: 80px;
}
.container .title .title-left .btn .fa-chevron-left {
    color: #FFFFFF;
    font-size: 18.7px;
}
.container .title .title-left p {
    width: 238px;
    font-size: 21px;
    margin-left: 20.2px;
}

.container .title .title-right {
    display: flex;
    margin-left: 930.74px;
    height: 60px;
    margin-top: 21px;
    margin-bottom: 21px;
}
.container .title .title-right .btn {
    background-color: #1A1A1A;
    border: none;
}
.container .title .title-right .btn i {
    color: #FFFFFF;
    font-size: 20.33px;
    padding-right: 34.6px;
}
.container .title .title-right .form input{
    width: 234px;
    height: 54px;
    background-color: #2E2E2E;
    border-radius: 32.5px;
    border: 1px solid #2E2E2E ;
    color: #FFFFFF;
}

.title-right .form .inputIcon {
    margin-left: -37px;
}
.title-right .form .inputIcon .fa-user {
    background-color: #D86767;
    padding: 5px;
    border-radius: 50%;

}
.title-right .form .media {
    margin-top: -50px;
    margin-left: 60px;
}
.title-right .form ::placeholder {
    padding-left: 111.94px;
    position: relative;
    top: 7px;
    font-size: 14px;
}
.content {
    display: flex;
    margin-top: 56px;
}
.content .image {
    width: 228px;
    height:228px;
    border: 1px solid #FFFFFF;
    border-radius: 36px;
    text-align: center;
    margin-left: 706px;
    margin-right: 32px;
}
.content .image .fa-camera {
    margin-top: 89.17px;
}
.content .formInfo label {
    font-size: 15px;
    color: #C1C1C1;
}
.content .formInfo input {
    /* width: 488px; */
    padding: 16px 0;
    background-color: #1A1A1A;
    border: none;
    border-bottom: 1px solid #5B5B5B;
    margin-bottom: 12px;
    position: relative
}
.content .formInfo .wide {
    width: 488px;
}
.content .formInfo ::placeholder {
    color: #FFFFFF;
    font-size: 16px;
}
.formInfo .check {
    display: flex;
}
.content .formInfo #male {
    margin-top: 16px;
}
.content .formInfo #zero {
    height: 0px;
    margin-top: -20px;
    top: -6px;
}
.content .formInfo #male {
    margin-right: 20px;
}
.content .formInfo #female {
    margin-left: 50px;
    margin-right: 20px;
}
.content .formInfo .bto {
    width: 163px;
    height: 44px;
    border-radius: 38px;
    text-align: center;
    margin-top: 52px;
}
.content .formInfo .btn1 {
    margin-left: 140px;
    margin-right: 32px;
    border: 1px solid #FFFFFF;
    background-color: #1A1A1A;
    color: #FFFFFF;
}
.content .formInfo .btn2 {
    background-color: #4D64DA;
    border:none;
    color: #FFFFFF;
}