@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-fluid {
    width: 100%;
    display: flex;
    height: 100vh;
}

.container-fluid .side-bar {
    width: 20%;
    background-color: #414e8b;
    display: flex;
    justify-content: space-between;
    padding-right: 36px;
}
.container-fluid .side-bar .toolbar .round {
    margin-bottom: 102px;
    padding: 36px;
}
.container-fluid .side-bar .toolbar .round span {
    position: relative;
    bottom: 10px;
}
.container-fluid .side-bar .toolbar .list-nav {
    margin-bottom: 40px;
}
.container-fluid .side-bar .toolbar .list-nav .friends {
    border-left: 3px solid #fff;
    padding-left: 36px;
}
.container-fluid .side-bar .toolbar .setting .nav_set {
    padding-left: 36px;
}
.container-fluid .side-bar .bar {
    padding-top: 36px;
}

.container-fluid .container {
    width: 80%;
    background-color: #1A1A1A;
    height: 100vh;
    /* height: calc(100vh - 96px); */
    /* height: 130vh; */
}

span {
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
}
.container-fluid .container .navbar {
    display: flex;
    justify-content: space-between;
    padding: 33.5px 10%;
    border-bottom: 1px solid #E5E5E5;
}
.container-fluid .container .navbar .title span {
    font-size: 21px;
}
.container-fluid .container .navbar .nav-input input {
    width: 234px;
    height: 54px;
    border-radius: 32.5px;
    background-color: #2E2E2E;
    border: none;
}
.container-fluid .container .navbar .nav-input .btn{
    background-color: #1A1A1A;
    border: none;
    margin-right: 30.14px;
}
.container-fluid .container .navbar .nav-input img {
    margin-left: -20%;
    position: relative;
    top: 11.5px;
}
.container-fluid .container .content {
    margin-top: 24px;
    margin-left: 76px;
}
.container-fluid .container .content .border {
    width: 218px;
    height: 44px;
    background-color: #4D64DA;
    border-radius: 38px;
    margin-bottom: 24px;
    text-align: center;
}
.container-fluid .container .content .border img {
    margin-left: 5px;
    position: relative;
    top: 7px;
}
.container-fluid .container .content .tablelist table {
    border-collapse: collapse;
    /* width: 90%; */
}
.container-fluid .container .content .tablelist table td {
    padding: 20px 30px
}
.container-fluid .container .content .tablelist table tr .check {
    background-color: #1A1A1A;
}
.container-fluid .container .content .tablelist table tr:first-child {
    border-bottom: 1px solid #E5E5E5;
}
.container-fluid .container .content .tablelist table tr .road {
    border-left: 1px solid #E5E5E5;
    
}
.container-fluid .container .content .tablelist table tr td .name{
    position: relative;
    top: -10px;
}
.container-fluid .container .content .tablelist_bar table {
    width: 90%;
}
.container-fluid .side-bar .footer {
    height: 96px;
    display: flex;
    align-items: center;
}
.container-fluid .side-bar .footer .round {
    padding-left: 76px;
    padding-right: 76px;
}
.container-fluid .side-bar .footer .friends {
    padding-right: 40px;
}
/* ------------- */

.container .navbar .createTitle span {
    font-size: 21px;
}
.container .navcontent {
    display: flex;
    padding-left: 20%;
    margin-top: 56px;
    width: 100%; 
}
.container .navcontent .contentForm {
    width: 55%;
}
.container .navcontent .image {
    border: 1px solid #fff;
    width: 25%;
    height: 35vh;
    border-radius: 36px;
    text-align: center;
    margin-right: 5%;
}
.container .navcontent .image_nun {
    width: 33%;
    height: 35vh;
}
.container .navcontent .image img {
    padding-top: 40%;
}
.container .navcontent .image p {
    color: #fff;
}
.container .navcontent label {
    color: #C1C1C1;
    font-size: 15px;
}
.container .navcontent input {
    margin-bottom: 10px;
    padding: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #5B5B5B;
}
.container .navcontent input[type=text] {
    color: #fff;
    width: 80%;
    padding-left: 0;
}
.container .navcontent input[type=tel] {
    color: #fff;
    width: 80%;
    padding-left: 0;
}
.container .navcontent input[type=email] {
    color: #fff;
    width: 80%;
    padding-left: 0;
}
.container .navcontent .radio {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #5B5B5B;
    width: 80%;
    margin-bottom: 10px;
}
/* .container .navcontent .radio p input[type=radio] {
    background-color: transparent;
} */
.container .navcontent .radio p label {
    padding: 0 20px;
}
.container .navcontent .btn-submit {
    display: flex;
    padding-left: 20%;
    margin-top: 30px;
}
.container .navcontent .btn-submit .reset {
    padding: 10px 42px;
    margin-right: 20px;
    border-radius: 30px;
    border: none;
    background-color: #1A1A1A;
    color: #fff;
    border: 1px solid #fff;
}
.container .navcontent .btn-submit .submit {
    padding: 10px 42px;
    border-radius: 30px;
    border: none;
    background-color: #4D64DA;
    color: #fff;
}

@media screen and (max-width: 545px) {
    .container-fluid .side-bar .toolbar .round {
        padding: 0;
        padding-top: 50%;
    }
    .container-fluid .side-bar .toolbar .round span {
        position: relative;
        top: 0;
    }
    .container-fluid .side-bar .toolbar .friends {
        margin-left: -37%;
    }
    .container-fluid .side-bar .toolbar .setting {
        margin-left: -36%;
    }
    .container-fluid .side-bar .toolbar img {
        width: 20%;
    }
    .container-fluid .side-bar .toolbar .friends img {
        width: 20%;
    }
    .container-fluid .side-bar .bar img{
        width: 50%;
        margin-right: 30px;
    }
    .container-fluid .container .navbar .title {
        width: 40%;
    }
    .container-fluid .container .navbar .title span {
        font-size: 14px;
    }
    .container-fluid .container .navbar .nav-input input{
        width: 60%;
        height:80%;
        margin-left: 10%;
    }
    .container-fluid .container .navbar .nav-input img {
        width: 8%;
        left: 100%;
        top: -60%;
    }
    .container-fluid .container .navbar .nav-input .btn img {
         width: 50%;
         margin-left: 100%;
         left: 100%;
    }
    .container-fluid .container .content .border {
        width: 70%;
        height: 5vh;
    }
    .container-fluid .container .content .tablelist {
        position: relative;
        right: 10%;
        width: 100%;
    }
    .container-fluid .container .content .tablelist table tr td {
        padding: 0 3px;
    }
    .container-fluid .container .content .tablelist table td  img {
        width: 20%;
    }
    .container-fluid .container .content .tablelist table td input[type=checkbox] {
        width: 10px;
    }
    span {
        font-size: 50%;
    }
    .container-fluid .container .content .tablelist table tr td .name{
        position: relative;
        top: 0px;
    }
    
}
@media screen and (max-width: 768px) {
    .container-fluid .container .content .tablelist {
        width: 50%;
    }
    .container-fluid .container .content .tablelist table tr {
        padding: 0;
    }
    .container-fluid .container .content .tablelist table td  img {
        width: 20%;
    }
    .container-fluid .container .content .tablelist table td input[type=checkbox] {
        width: 10px;
    }
    span {
        font-size: 50%;
    }
   
}